{% extends 'base.html.twig' %}

{% block title %}
    {{ 'user_panel'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'user_panel'|trans }}</h1>
        <p>
            {{ 'Hello in user panel! What do you want to change?'|trans }}
        <p>
            <a href="{{ app.user.id }}" title="{{ 'user_edit'|trans }}" class="btn btn-primary">
                {{ 'user_edit'|trans }}
            </a>
        </p>
        <p>
            <a href="{{ app.user.id }}" title="{{ 'change_password'|trans }}" class="btn btn-primary">
                {{ 'change_password'|trans }}
            </a>
        </p>
{% endblock %}