{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_user_details'|trans({'%id%': user.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_user_details'|trans({'%id%': userdata.id|default('')}) }}</h1>
    {% if userdata is defined and userdata|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ userdata.id }}</dd>
            <dt>{{ 'label_nick'|trans }}</dt>
            <dd>{{ userdata.nick }}</dd>
            <dt>{{ 'label_firstname'|trans }}</dt>
            <dd>{{ userdata.firstname }}</dd>
            <dt>{{ 'label_surname'|trans }}</dt>
            <dd>{{ userdata.surname }}</dd>
            <dt>{{ 'label_bio'|trans }}</dt>
            <dd>{{ userdata.bio }}</dd>
        </dl>
        <p>
            <a href="{{ url('user-data_edit', {'id': userdata.id})}}" title="{{ 'user_edit'|trans }}" class="btn btn-primary">
                {{ 'user_edit'|trans }}
            </a>
        </p>
        <p>
            <a href="{{ url('task_index') }}" title="{{ 'action_back_to_list'|trans }}" class="btn btn-primary">
                {{ 'action_back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}