{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_category_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_category_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'category.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_name'|trans, 'category.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_description'|trans, 'category.description') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for category in pagination.items %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}