{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_task_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_task_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'task.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_name'|trans, 'task.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_term'|trans, 'task.term') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_description'|trans, 'task.description') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_comment'|trans, 'task.comment') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_category'|trans, 'category.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_tasklist'|trans, 'tasklist.name') }}</th>
                <th>{{ 'label_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for task in pagination.items %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td>{{ task.name }}</td>
                    <td>{{ task.term|format_date('long') }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.comment }}</td>
                    <td>{{ task.category.name }}</td>
                    <td>{{ task.tasklist.name }}</td>
                    <td>
                        <a href="{{ url('task_show', {id: task.id}) }}" title="{{ 'action_view'|trans }}">
                            {{ 'action_view'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}