{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_task_details'|trans({'%id%': task.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_task_details'|trans({'%id%': task.id|default('')}) }}</h1>
    {% if task is defined and task|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ task.id }}</dd>
            <dt>{{ 'label_name'|trans }}</dt>
            <dd>{{ task.name }}</dd>
            <dt>{{ 'label_term'|trans }}</dt>
            <dd>{{ task.term|format_date('long') }}</dd>
            <dt>{{ 'label_description'|trans }}</dt>
            <dd>{{ task.description }}</dd>
            <dt>{{ 'label_comment'|trans }}</dt>
            <dd>{{ task.comment }}</dd>
            <dt>{{ 'label_category'|trans }}</dt>
            <dd>{{  task.category.name }}</dd>
            <dt>{{ 'label_tasklist'|trans }}</dt>
            <dd>{{  task.tasklist.name }}</dd>
        </dl>
        <p>
            <a href="{{ url('task_index') }}" title="{{ 'action_back_to_list'|trans }}">
                {{ 'action_back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}