{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_note_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_note_list'|trans }}</h1>

    <div class="form-group row float-sm-right">
        <a href="{{ url('note_create') }}" class="btn btn-primary">
            {{ 'create_new'|trans }}
        </a>
    </div>

    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'note.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_name'|trans, 'note.name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_content'|trans, 'note.content') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_category'|trans, 'category.name') }}</th>
                <th>{{ 'label_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for note in pagination.items %}
                <tr>
                    <td>{{ note.id }}</td>
                    <td>{{ note.name }}</td>
                    <td>{{ note.content }}</td>
                    <td>
                        <a href="{{ url('category_show', {id: note.category.id}) }}" title="{{ 'category_show'|trans }}">
                            {{ note.category.name }}
                    </td>
                    <td>
                        <a href="{{ url('note_show', {id: note.id}) }}" title="{{ 'action_view'|trans }}">
                            {{ 'action_view'|trans }}
                        </a>
                        <a href="{{ url('note_edit', {id: note.id}) }}" title="{{ 'action_edit'|trans }}">
                            {{ 'action_edit'|trans }}
                        </a>
                        <a href="{{ url('note_delete', {id: note.id}) }}" title="{{ 'action_delete'|trans }}">
                            {{ 'action_delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}