{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_note_details'|trans({'%id%': note.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_note_details'|trans({'%id%': note.id|default('')}) }}</h1>
    {% if note is defined and note|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ note.id }}</dd>
            <dt>{{ 'label_name'|trans }}</dt>
            <dd>{{ note.name }}</dd>
            <dt>{{ 'label_content'|trans }}</dt>
            <dd>{{ note.content }}</dd>
            <dt>{{ 'label_category'|trans }}</dt>
            <dd>{{  note.category.name }}</dd>
        </dl>
        <p>
            <a href="{{ url('note_index') }}" title="{{ 'action_back_to_list'|trans }}">
                {{ 'action_back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}