{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_tasklist_details'|trans({'%id%': tasklist.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_tasklist_details'|trans({'%id%': tasklist.id|default('')}) }}</h1>

    {% if pagination is defined and pagination.items|length %}

    <div class="navigation text-center">
        {{ knp_pagination_render(pagination) }}
    </div>

    {% if pagination is defined and pagination|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ tasklist.id }}</dd>
            <dt>{{ 'label_name'|trans }}</dt>
            <dd>{{ tasklist.name }}</dd>
            <dt>{{ 'label_term'|trans }}</dt>
            <dd>{{ tasklist.term|date('Y-m-d') }}</dd>
            <dt>{{ 'label_description'|trans }}</dt>
            <dd>{{ tasklist.description }}</dd>
            <dt>{{ 'label_comment'|trans }}</dt>
            <dd>{{ tasklist.comment }}</dd>
            <dt>{{ 'label_category'|trans }}</dt>
            <dd>{{  tasklist.category.name }}</dd>
            <dt>{{ 'label_tasks'|trans }}</dt>
            <dd>{% for task in pagination.items %}
                <td>{{ task.name }}</td>
            {%  endfor %}</dd>
        </dl>
        <p>
            <a href="{{ url('tasklist_index') }}" title="{{ 'action_back_to_list'|trans }}">
                {{ 'action_back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
    {% endif %}
{% endblock %}